In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('data/input/IMDB-Movie-Data.csv')
df.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0

Challenge 1

In [4]:
# for i in df.index:
#     if df.loc[i,"Votes"] <999:
#         df.loc[i,"Bin"] = 1
#     if df.loc[i,"Votes"] >1000 and df.loc[i,"Votes"] <9999 :
#         df.loc[i,"Bin"] = 2
#     if df.loc[i,"Votes"] >10000 and df.loc[i,"Votes"] <99999 :
#         df.loc[i,"Bin"] = 3
#     if df.loc[i,"Votes"] >100000 and df.loc[i,"Votes"] <999999:
#         df.loc[i,"Bin"] = 4       
#     if df.loc[i,"Votes"] >1000000:
#         df.loc[i,"Bin"] = 5

def vote_bin(c):
    if c <999:
        return 1
    if c >1000 and c <9999 :
        return 2
    if c >10000 and c <99999 :
        return 3
    if c >100000 and c <999999:
        return 4       
    if c >1000000:
        return 5

In [5]:
df["Bin"]=df.apply(lambda x: vote_bin(x["Votes"]) , axis=1 )

Challenge 2

In [6]:
def rev_per_min(a,b):
    return a/b

df["Rev per min"]=df.apply(lambda x: rev_per_min(x["Revenue (Millions)"],x["Runtime (Minutes)"]) , axis=1 )

In [7]:
df.tail()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Bin,Rev per min
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0,3,NaN
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,3,0.186596
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,3,0.591939
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0,2,NaN
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,3,0.225747

Challenge 3

In [8]:
def new_rank(e,f):
    if "Thriller" in e:
        f+=1
    if "Comedy" in e:
        f-=1
    return f

df["New Rating"]=df.apply(lambda x: new_rank(x["Genre"], x["Rating"]) , axis=1 )
df.sort_values(by=["New Rating"],ascending=False)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Bin,Rev per min,New Rating
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0,5,2.732500,9.5
99,100,The Departed,"Crime,Drama,Thriller",An undercover cop and a mole in the police att...,Martin Scorsese,"Leonardo DiCaprio, Matt Damon, Jack Nicholson,...",2006,151,8.5,937414,132.37,85.0,4,0.876623,9.5
476,477,The Lives of Others,"Drama,Thriller","In 1984 East Berlin, an agent of the secret po...",Florian Henckel von Donnersmarck,"Ulrich Mühe, Martina Gedeck,Sebastian Koch, Ul...",2006,137,8.5,278103,11.28,89.0,4,0.082336,9.5
198,199,The Imitation Game,"Biography,Drama,Thriller","During World War II, mathematician Alan Turing...",Morten Tyldum,"Benedict Cumberbatch, Keira Knightley, Matthew...",2014,114,8.1,532353,91.12,73.0,4,0.799298,9.1
427,428,The Bourne Ultimatum,"Action,Mystery,Thriller",Jason Bourne dodges a ruthless CIA official an...,Paul Greengrass,"Matt Damon, Edgar Ramírez, Joan Allen, Julia S...",2007,115,8.1,525700,227.14,85.0,4,1.975130,9.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,801,Yoga Hosers,"Comedy,Fantasy,Horror",Two teenage yoga enthusiasts team up with a le...,Kevin Smith,"Lily-Rose Depp, Harley Quinn Smith, Johnny Dep...",2016,88,4.3,7091,NaN,23.0,2,NaN,3.3
952,953,Sex and the City 2,"Comedy,Drama,Romance","While wrestling with the pressures of life, lo...",Michael Patrick King,"Sarah Jessica Parker, Kim Cattrall, Kristin Da...",2010,146,4.3,62403,95.33,27.0,3,0.652945,3.3
871,872,Dragonball Evolution,"Action,Adventure,Fantasy",The young warrior Son Goku sets out on a quest...,James Wong,"Justin Chatwin, James Marsters, Yun-Fat Chow, ...",2009,85,2.7,59512,9.35,45.0,3,0.110000,2.7
42,43,Don't Fuck in the Woods,Horror,A group of friends are going on a camping trip...,Shawn Burkett,"Brittany Blanton, Ayse Howard, Roman Jossart,N...",2016,73,2.7,496,NaN,NaN,1,NaN,2.7
829,830,Disaster Movie,Comedy,"Over the course of one evening, an unsuspectin...",Jason Friedberg,"Carmen Electra, Vanessa Lachey,Nicole Parker, ...",2008,87,1.9,77207,14.17,15.0,3,0.162874,0.9

Challenge 4

In [9]:
def chall_4(title, votes):
    ascii_sum=0
    for letter in title:
        ascii_sum+=ord(letter)
    if ascii_sum%votes!=0:
        return False
    return is_prime(ascii_sum/votes)

In [10]:
def is_prime(n):
    check=0
    i=n-1
    while i>1:
        if n%i==0:
            check=1
        i-=1
    return check==0

print(is_prime(5))
print(is_prime(2))
print(is_prime(1))
print(is_prime(6))

True
True
True
False

In [11]:
df["ASCII/Votes=prime"]=df.apply(lambda x: chall_4(x["Title"], x["Votes"]) , axis=1 )

In [12]:
df["ASCII/Votes=prime"].value_counts()

False    1000
Name: ASCII/Votes=prime, dtype: int64

Challenge 5

In [13]:
def pers_rating(a,b,c,d):
    if "Emma Stone" in a: #I (L) Emma Stone
        d+=5
    if b<=100: #I don't like long movies
        d+=1
    if c<2000: #old movies are always better
        d+=2
    return d

df["Personal Rating"]=df.apply(lambda x: pers_rating(x["Actors"], x["Runtime (Minutes)"],x["Year"],x["Rating"]) , axis=1 )
df.sort_values(by=["Personal Rating"],ascending=False)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Bin,Rev per min,New Rating,ASCII/Votes=prime,Personal Rating
363,364,Zombieland,"Adventure,Comedy,Horror",A shy student trying to reach his family in Oh...,Ruben Fleischer,"Jesse Eisenberg, Emma Stone, Woody Harrelson,A...",2009,88,7.7,409403,75.59,73.0,4,0.858977,6.7,False,13.7
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0,4,1.180156,7.3,False,13.3
515,516,Easy A,"Comedy,Drama,Romance",A clean-cut high school student relies on the ...,Will Gluck,"Emma Stone, Amanda Bynes, Penn Badgley, Dan Byrd",2010,92,7.1,294950,58.40,72.0,4,0.634783,6.1,False,13.1
92,93,The Help,Drama,An aspiring author during the civil rights mov...,Tate Taylor,"Emma Stone, Viola Davis, Octavia Spencer, Bryc...",2011,146,8.1,342429,169.71,62.0,4,1.162397,8.1,False,13.1
157,158,"Crazy, Stupid, Love.","Comedy,Drama,Romance",A middle-aged husband's life changes dramatica...,Glenn Ficarra,"Steve Carell, Ryan Gosling, Julianne Moore, Em...",2011,118,7.4,396714,84.24,68.0,4,0.713898,6.4,False,12.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,Dragonball Evolution,"Action,Adventure,Fantasy",The young warrior Son Goku sets out on a quest...,James Wong,"Justin Chatwin, James Marsters, Yun-Fat Chow, ...",2009,85,2.7,59512,9.35,45.0,3,0.110000,2.7,False,3.7
42,43,Don't Fuck in the Woods,Horror,A group of friends are going on a camping trip...,Shawn Burkett,"Brittany Blanton, Ayse Howard, Roman Jossart,N...",2016,73,2.7,496,NaN,NaN,1,NaN,2.7,False,3.7
890,891,The Intent,"Crime,Drama",Gunz (Dylan Duffus) is thrust into a world of ...,Femi Oyeniran,"Dylan Duffus, Scorcher,Shone Romulus, Jade Asha",2016,104,3.5,202,NaN,59.0,1,NaN,3.5,False,3.5
647,648,Tall Men,"Fantasy,Horror,Thriller",A challenged man is stalked by tall phantoms i...,Jonathan Holbrook,"Dan Crisafulli, Kay Whitney, Richard Garcia, P...",2016,133,3.2,173,NaN,57.0,1,NaN,4.2,False,3.2
829,830,Disaster Movie,Comedy,"Over the course of one evening, an unsuspectin...",Jason Friedberg,"Carmen Electra, Vanessa Lachey,Nicole Parker, ...",2008,87,1.9,77207,14.17,15.0,3,0.162874,0.9,False,2.9

Challenge 6

In [15]:
from hashlib import sha256

def freaky_bonus(a,b,c):
    hashedWord = sha256(a.encode('UTF-8')).hexdigest()
    sum=0
    for i in hashedWord:
        try:
            int(i)
            sum+=i
        except:
            pass
    return sum>b and sum<(c*1000000)

df["Hidden Pattern"]=df.apply(lambda x: freaky_bonus(x["Description"], x["Votes"],x["Revenue (Millions)"]) , axis=1 )
df["Hidden Pattern"].value_counts()

False    1000
Name: Hidden Pattern, dtype: int64